.outer-square {
  /* your css goes here */
 width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows:repeat(3,auto);
  justify-items: center;
  align-items: center;  
}
.inner-square {
  /* your css goes here */
  margin:10px;
  background-color: green;
}
.circle {
  /* your css goes here */
  margin:10px;
  border-radius: 50%;
  background-color: blue;
}
